<table>
    <thead>
      <tr>
        <% headers.forEach(header => { %>
          <th><%= header %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(row => { %>
        <tr>
          <% for (const key in row) { %>
            <td><%= row[key] %></td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>